<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlust.sportbackend.Mapper.TeamMapper">

    <select id="selectBySportsMeetingId" resultType="Team">
        SELECT * FROM team
        WHERE sports_meeting_id = #{sportsMeetingId}
        ORDER BY create_time DESC
    </select>

    <select id="selectByGroupTypeId" resultType="Team">
        SELECT * FROM team
        WHERE group_type_id = #{groupTypeId}
        ORDER BY create_time DESC
    </select>

    <select id="selectById" resultType="Team">
        SELECT * FROM team WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO team (sports_meeting_id, group_type_id, name, leader, coach, total_score)
        VALUES (#{sportsMeetingId}, #{groupTypeId}, #{name}, #{leader}, #{coach}, #{totalScore})
    </insert>

    <update id="updateById">
        UPDATE team
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="leader != null">leader = #{leader},</if>
            <if test="coach != null">coach = #{coach},</if>
            <if test="totalScore != null">total_score = #{totalScore},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM team WHERE id = #{id}
    </delete>

</mapper>
